archive/*
output.rpt
tmp/*
!tmp/1.block
!tmp/1.nets
!tmp/2.block
!tmp/2.nets
!tmp/3.block
!tmp/3.nets
!tmp/ami33.block
!tmp/ami33.nets
!tmp/ami49.block
!tmp/ami49.nets
!tmp/apte.block
!tmp/apte.nets
!tmp/hp.block
!tmp/hp.nets
!tmp/xerox.block 
xerox.nets
__pycache__/*
log/*
CMakeFiles/*
CMakeCache.txt
